
/*****************************
GENERAL STYLING
*****************************/

* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: 0;
}

body {
	background-color: #000;
	margin: 0px;
}

footer {
	color: #bbb;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	padding: 1em;
}

/*****************************
TOP LEVEL STYLING
*****************************/

#top-bar {
	border: 1px solid #ccc;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	border-bottom: 1px solid #ccc;
	background-color: #333;
	border-radius: 1px;
}

.wrapper {
	margin-left: 1%;
}

#masthead-title {
	color: #fff;
	font-family: 'Righteous', sans-serif;
	width:5em;
	font-size: 3em;
	margin-bottom: 0em;
	margin-left: 0.5em;
	border-bottom: 1px solid #fff;
}

#motto {
	color: #fff;
	font-family: 'Cabin', sans-serif;
	font-size: 1.5em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 1em;
}




/*****************************
FORMS
*****************************/

#input-section {
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 2em;
}
.search-form {
	margin-right: 1em;
	margin-left: 2em;
}

#go {
	height: 2.3em;
	border-radius: 5px;
	background-color: #36454f;
	font-family: 'Cabin', sans-serif;
	color: #fff;
	border: none;
	width: 60px;
	margin-right: 2em;
}

#go:hover {
	background-color: #25343e;
}

#lookup {
	height: 2.3em;
	font-family: 'Cabin', sans-serif;
	border-radius: 5px;
	border: none;
	margin-left: 0 auto;
	text-align: center;
}



/*****************************
RESULTS STYLING
*****************************/

#track-player {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
}


.containers {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	padding: 1em;
	background-color: #2e312d;
	height: 30em;
	overflow: scroll;
	margin-top: 1em;
}


.items {
	list-style: none;
	font-family: 'Cabin', sans-serif;
	font-size: 2em;
	color: #ddd;
	margin-left: .5em;
	margin-right: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
}

.items:hover {
	cursor: pointer;
}

.items:active {
	color: #fff;
}

.result-info {
	text-align: center;
	color: #555;
	background-color: #2e312d;
	margin-top: 0;
}

.track-comments {
	font-family: 'Cabin', sans-serif;
	font-size: 2em;
	color: #ddd;
	margin-left: .5em;
	margin-right: .5em;
	margin-top: .5em;
	margin-bottom: .5em;
}


@media screen and (min-width: 768px) {

	#masthead-title {
		color: #fff;
		font-family: 'Righteous', sans-serif;
		width: 100%;
		border-bottom: none;
		font-size: 3.5em;
		margin: 0;
		text-align: center;

	}

	#motto {
		color: #fff;
		font-family: 'Cabin', sans-serif;
		font-size: 1.75em;
		text-align: center;
		margin-top: 0.5em;
		margin-bottom: 1em;
	}

	#forms {
		margin: 0 auto;
		width: 25%;
	}

	#input-section {
		margin-left: 0;
	}

	.search-form button{
		margin-right: auto;
		margin-left: auto;
	}

	#lookup {
		width: 77.5%;
	}

	#go {
		width: 20%;
		margin: 0;
	}
}

@media screen and (min-width: 1024px) {

	#masthead-title {
		color: #fff;
		font-family: 'Righteous', sans-serif;
		width: 100%;
		border-bottom: none;
		font-size: 4em;
		margin: 1em 0 0 0;
		text-align: center;

	}

	#motto {
		color: #fff;
		font-family: 'Cabin', sans-serif;
		font-size: 2em;
		text-align: center;
		margin-top: 0.5em;
		margin-bottom: 1em;
	}

	#lookup {
		width: 77.5%;
	}

	#forms {
		margin: 0 auto;
		width: 25%;
	}

	#go {
		width: 20%;
		margin: 0;

	}

}
